*{ 
    margin: 0; 
    padding:0;
} 

body{ 
    background-color: #0e0327;
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background-image: url(../assets/space.png);
}   

#result-bar{ 
  position: absolute;         
  top: 20px;                  
  right: 250px;                
  display: flex;
  gap: 20px;
  z-index: 10; 
  color:white; 

}  

#profile-btn,#leaderboard-btn,#logOut-btn{ 
    background-color:#0e0327; 
    color: white; 
    border-radius: 25px; 
    border: solid white 2px; 
    font-family: 'audiowide'; 
    text-decoration: none; 
    height: fit-content; 
    width:fit-content ;
    padding: 20px;
} 

#profile-btn:hover,#logOut-btn:hover,#leaderboard-btn:hover{ 
    background-color: #683a9c; 
    cursor:pointer; 
    

}

.main{  
    display: flex;  
    justify-content:center ;  
    align-items: center;
    border: solid #b67cff 2px; 
    box-shadow: 0 0 10px #b67cff;
    border-radius: 25px; 
    height: 300px; 
    width: 400px; 
     
}

#score{ 
     display: flex; 
     flex-direction: column;
     justify-content: center;
     align-items: center; 
     gap: 20px; 
     font-family:"audiowide";
     color: white;
     
} 

#score_val{
    color: white;
    justify-content: center;
    font-family: "autowide";
}

#replay-btn{ 
    height:fit-content; 
    width:fit-content;; 
    padding: 10px;;
    font-family:"audiowide";
    font-size: 20px;
    color: black; 
    background-color: white;  
    border-color: white;
    border-radius: 20px;  
    text-decoration: none;
    transition-duration: 0.5s;
} 

#replay-btn:hover{ 
    cursor:pointer; 
    background-color:#683a9c;
    color:white;
    scale: 1.5;
}



#bottom-left-planet img, #top-right-planet img{ 
    height: 400px; 
    width: 500px; 


}  

#bottom-left-planet{ 
    position:fixed; 
    bottom:-100px; 
    left:-200px; 
} 

#top-right-planet{ 
    position: fixed; 
    top:-140px; 
    right:-200px; 
} 


#top-left-trail img, #bottom-right-trail img{ 
    height: 550px; 
    width: 400px; 

    animation-duration: 5s; 
    animation-name: glow; 
    animation-iteration-count: infinite;

}  

@keyframes glow { 
    0%{ 
        filter: brightness(1);
    }  

    50%{ 
        filter: brightness(1.35);
    } 

    100%{ 
        filter: brightness(1);
    }
}


#top-left-trail{ 
    position:fixed;
    top:-150px; 
    left:-70px; 
    transform: rotate(-20deg);
}  

#bottom-right-trail{ 
    position:fixed; 
    bottom:-150px; 
    right:-70px; 
    transform: rotate(-15deg);
}



