*{ 
    margin: 0; 
    padding:0;
} 

body{ 
    background-color: #0e0327;
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}   

.main{ 
    border: solid white 4px; 
    background-color: #683a9c; 
    border-radius: 25px; 
    height: fit-content; 
    width: fit-content;
    padding: 25px; 
    gap:20px
}

#score{ 
    text-align: center; 
    font-family: "audiowide"; 
    font-size: 20px; 
    color: white;
} 

#replay-btn{ 
    height:fit-content; 
    width:fit-content;; 
    padding: 10px;;
    font-family:"audiowide";
    font-size: 20px;
    color: black; 
    background-color: white;  
    border-color: white;
    border-radius: 20px;  

    transition-duration: 0.5s;
} 

#replay-btn:hover{ 
    cursor:pointer; 
    background-color:#683a9c;
    color:white;
}









#bottom-left-planet img, #top-right-planet img{ 
    height: 400px; 
    width: 500px; 


}  

#bottom-left-planet{ 
    position:fixed; 
    bottom:-100px; 
    left:-200px; 
} 

#top-right-planet{ 
    position: fixed; 
    top:-140px; 
    right:-200px; 
} 


#top-left-trail img, #bottom-right-trail img{ 
    height: 550px; 
    width: 400px; 

    animation-duration: 5s; 
    animation-name: glow; 
    animation-iteration-count: infinite;

}  

@keyframes glow { 
    0%{ 
        filter: brightness(1);
    }  

    50%{ 
        filter: brightness(1.35);
    } 

    100%{ 
        filter: brightness(1);
    }
}


#top-left-trail{ 
    position:fixed;
    top:-150px; 
    left:-70px; 
    transform: rotate(-20deg);
}  

#bottom-right-trail{ 
    position:fixed; 
    bottom:-150px; 
    right:-70px; 
    transform: rotate(-15deg);
}



