*{ 
    margin: 0; 
    padding: 0;
}  

body{ 
    background-color: #0D1B2A;
}

#quiz-nav{ 
    background-color:#1B263B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 110px;  
} 

#quiz-nav a, ul{  
    color: #E0E1DD;
    text-decoration: none; 
    list-style-type: none; 
    font-family: 'Source Serif 4',sans-serif; 
    font-size: 1.5rem; 
    align-items: center;
}  

#quiz-nav h1{  
    position: absolute;
    font-family: 'Source Serif 4',sans-serif; 
    font-size: 2.5rem; 
    color: #E0E1DD;
} 


.quiz-container{
    display: flex; 
    justify-content: center;
    background-color: #0D1B2A; 
    padding: 20px;
}

#question-box{ 
    height: fit-content; 
    width: fit-content;  
    padding:20px;
    text-align: center;
    border: solid #E0E1DD; 
    border-radius: 25px;  
} 

#question-box h2{ 
    font-family: 'Source Serif 4',sans-serif; 
    font-size: 1.5rem; 
    color: #E0E1DD; 
    padding: 10px;
}  

#question-box p{ 
    font-family: 'Source Serif 4',sans-serif; 
    font-size: 1.5rem; 
    color: #E0E1DD;
    padding: 10px;
} 

#choices{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 25px;
} 

#choices button{ 
    font-family: 'Source Serif 4',sans-serif; 
    font-size: 1.5rem; 
    color: #E0E1DD; 
    background-color: #1B263B; 
    border: solid #E0E1DD; 
    padding: 10px;
}





 

 