*{ 
    margin:0;
    padding:0;  
} 

#home-nav{  
    display: flex; 
    justify-content: space-between;
    background-color: #1B263B;
}

 #home-nav img{ 
    height:100px; 
    width: 100px; 
    background-color: #E0E1DD; 
    border-radius: 25px;
 }


#main{  
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center;
    text-align: center;   
    background-color: #0D1B2A;
    padding:40px; 
    gap:20px
}  

#main img{ 
    height: 250px ; 
    width: 250px ;
} 

#main h1,h2{ 
    color: #E0E1DD; 
    font-family: 'Source Serif 4',sans-serif; 
    font-size: 3rem;
} 

#start-btn{ 
    height: fit-content ; 
    width: fit-content ;  
    border-radius: 10px;  
    background-color: #1B263B; 
    color:#E0E1DD ; 
    border: solid #E0E1DD ;
    font-size: 1.5rem; 
    padding: 10px;
} 

#home-footer{ 
    background-color: #1B263B; 
    text-align: center;  
    font-family: 'Source Serif 4',sans-serif; 
    color: #E0E1DD;  
    padding: 25px; 
}


